.body{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgb(49, 49, 49);
    height: 75px;
}
.logo{
    float: left;
    margin-left: 100px;
    margin-top: 15px;
  }
.elements{
    float: right;
    margin-right: 100px;
   margin-top: 25px;
}
.clear{
    clear: both;
}
.logo-font{
    font-family: 'Kanit', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.link-font{
    font-family: 'Kanit', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.link-font:hover{
    background-color: aqua;
    border-radius: 25px;
}